        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            padding: 20px;
        }
        h1 {
            font-size: 32px;
        }
        .filter-box {
            margin-bottom: 20px;
        }
        select {
            padding: 8px;
            font-size: 16px;
        }
        .products {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            max-width: 600px;
        }
        .card {
            background-color: white;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 0 5px #ccc;
        }
        .price {
           font-weight: bold;
            margin: 10px 0;
        }
        .tag {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 20px;
            color: white;
            font-size: 14px;
        }
        .electronics {
            background-color: #23939b;
        }
        .clothing {
            background-color: #2c6a7d;
            color: black;
        }
